<style>
    .rowheight
    {
        font-size: 12px;    
    }
</style>
<div class="col-12 pt-10" ng-controller="PromosyonCtrl" ng-init="YeniEvrak()">
    <div class="panel">
        <div class="panel-body">
            <div class="form-group row my-1">
                <label class="col-2 offset-1 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Şube Seçimi:</label>
                <div class="col-5">
                    <select class="form-control h-50 select2-primary" name="SubeListe" id="SubeListe" ng-model="CmbSube.SubeListe" multiple title="Lütfen Şube Seçimi Yapınız">
                        <option ng-repeat="option in SubeListe" value="{{option.KODU}}">{{option.ADI}}</option>
                    </select>
                </div>
                <div class="col-2 offset-1">
                    <label class="form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">DURUM :</label>
                </div>
                <div class="col-1">
                    <div class="checkbox-custom checkbox-info">
                        <input type="checkbox" name="inputCheckboxes" ng-model = "ChkDurum">
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Promosyon Adı :</label>
                <div class="col-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Arama..." ng-model = "PromosyonAdi">
                        <span class="input-group-append">
                          <button type="submit" class="btn btn-primary" ng-click = "BtnModalClick(0)"><i class="icon wb-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Müşteri :</label>
                <div class="col-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Arama..." ng-model = "CariKodu">
                        <span class="input-group-append">
                          <button type="submit" class="btn btn-primary" ng-click = "BtnModalClick(1)"><i class="icon wb-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Tarih :</label>
                <div class="col-5">
                    <div class="input-group input-group-icon">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="icon wb-calendar" aria-hidden="true"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="IlkTarih" type="text" ng-model="IlkTarih" data-provide="datepicker">
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group input-group-icon">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="icon wb-calendar" aria-hidden="true"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="SonTarih" type="text" ng-model="SonTarih" data-provide="datepicker">
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Tek Seferlik :</label>
                <div class="col-1">
                    <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" name="inputCheckboxes" ng-model = "ChkTekSeferlik" >
                        <label></label>
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Ürün :</label>
                <div class="col-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="" placeholder="Arama..." ng-model = "StokKodu">
                        <span class="input-group-append">
                          <button type="submit" class="btn btn-primary" ng-click = "BtnModalClick(2)"><i class="icon wb-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Ürün Grubu:</label>
                <div class="col-10">
                    <select class="form-control"  ng-model = "AnaGrup">
                        <option value= "" selected>YOK</option>    
                        <option ng-repeat="option in AnaGrupListe" value="{{option.KODU}}">{{option.ADI}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">İndirim Oranı :</label>
                <div class="col-10">
                  <input type="text" class="form-control" ng-model = "IndirimOran">
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">İndirim Tutarı :</label>
                <div class="col-10">
                  <input type="text" class="form-control" ng-model = "IndirimTutar">
                </div>
            </div>
            <div class="form-group row my-1">
                <label class="col-2 form-control-label" style="font-family:Arial, Helvetica, sans-serif; font-size: 1.5rem;">Sabit Fiyat :</label>
                <div class="col-10">
                  <input type="text" class="form-control" ng-model = "SabitFiyat">
                </div>
            </div>
            <div class="form-group row my-1">
                <div class="col-12">
                    <button type="button" class="btn btn-primary btn-block btn-round" ng-click = "BtnKaydetClick()"><i class="icon wb-check" aria-hidden="true"></i>Kaydet ve Gönder</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODALLAR  -->
    <!-- Promosyon Listesi -->
    <div class="modal fade" id="MdlPromosyon" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Promosyon Listesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row py-10">
                        <div class="col-4">
                            <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="CmbArama">
                                <option value="0" selected="selected">ADI</option>
                                <option value="1">KODU</option>
                            </select>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <input autofocus="true" type="text" class="form-control form-control" ng-model="TxtArama" id="TxtArama">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-block btn-primary form-control" ng-click="BtnListeGetir(0)"><i class="icon wb-search" aria-hidden="true"></i></button>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="TblPromosyon"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Müşteri Listesi -->
    <div class="modal fade" id="MdlMusteri" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Müşteri Listesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row py-10">
                        <div class="col-4">
                            <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="CmbArama">
                                <option value="0" selected="selected">ADI</option>
                                <option value="1">KODU</option>
                            </select>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <input autofocus="true" type="text" class="form-control form-control" ng-model="TxtArama" id="TxtArama">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-block btn-primary form-control" ng-click="BtnListeGetir(1)"><i class="icon wb-search" aria-hidden="true"></i></button>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="TblCari"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ürün Listesi -->
    <div class="modal fade" id="MdlStok" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-center modal-primary modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Ürün Listesi</h4>
                </div>
                <div class="modal-body">
                    <div class="row py-10">
                        <div class="col-4">
                            <select class="form-control form-control-sm ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="CmbArama">
                                <option value="0" selected="selected">ADI</option>
                                <option value="1">KODU</option>
                            </select>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <input autofocus="true" type="text" class="form-control form-control" ng-model="TxtArama" id="TxtArama">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-block btn-primary form-control" ng-click="BtnListeGetir(2)"><i class="icon wb-search" aria-hidden="true"></i></button>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="TblStok"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    $("#IlkTarih").datepicker({
    language: "tr"
    });
    $("#SonTarih").datepicker({
    language: "tr"
    });
</script>