<div class="col-12" ng-controller="KullaniciParametreCtrl" ng-init="YeniEvrak()">
    <div class="row">
        <div class="col-12">
            <div class="tab-content">
                <div id="TbMain" class="tab-pane active">
                    <div class="row">
                        <div class="col-2 offset-8 py-2">
                            <select class="form-control form-control ng-pristine ng-untouched ng-valid ng-not-empty" style="height:40px; font-size: 16px;" ng-model="DepoNo" ng-change = 'KullaniciDepoChange()'>
                                <option ng-repeat="option in DepoListe" value="{{option.KODU}}">{{option.ADI}}</option>
                            </select>
                        </div>
                        <div class="col-2 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnKullaniciInsert(0)">Yeni Ekle</button>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div id="TblKullanici"></div>
                        </div>
                    </div>
                </div>
                <div id="TbSistem" class="tab-pane">
                    <div class="row">
                        <div class="col-2 offset-8 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnParamInsert()">Kaydet</button>
                        </div>
                        <div class="col-2 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnGeri()"><i class="icon wb-reply" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group row py-2">
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Firma No :</label>
                                <div class="col-5">
                                    <input type="text" class="form-control">
                                </div>
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Depo No :</label>
                                <div class="col-5">
                                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="DepoNo">
                                        <option ng-repeat="option in DepoListe" value="{{option.KODU}}">{{option.ADI}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row py-2">
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Kilo Barkod :</label>
                                <div class="col-5">
                                  <input type="text" class="form-control">
                                </div>
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Kilo Flag :</label>
                                <div class="col-5">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row py-2">
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Kilo Başlangıç :</label>
                                <div class="col-5">
                                  <input type="text" class="form-control">
                                </div>
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Kilo Uzunluk :</label>
                                <div class="col-5">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row py-2">
                                <label style="height:40px; font-size: 15px;" class="col-1 form-control-label">Satır Birleştir :</label>
                                <div class="col-5">
                                  <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="TbPosSatis" class="tab-pane">
                    <div class="row">
                        <div class="col-2 offset-8 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnParamInsert()">Kaydet</button>
                        </div>
                        <div class="col-2 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnGeri()"><i class="icon wb-reply" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div id="TbMenu" class="tab-pane">
                    <div class="row">
                        <div class="col-2 offset-8 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnParamInsert()">Kaydet</button>
                        </div>
                        <div class="col-2 py-2">
                            <button type="submit" class="btn btn-primary form-control btn-block" style="height:40px; font-size: 16px;" ng-click="BtnGeri()"><i class="icon wb-reply" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- KULLANICI EKLE -->
    <div class="modal fade" id="MdlKullanici" aria-labelledby="exampleOptionalSmall" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple modal-primary modal-center px-10">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Kullanıcı</h4>
                </div>
                <div class="modal-body py-10">
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Kodu :</b></span></div></label>
                        <input type="text" class="form-control col-9" ng-model="Kodu">
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Kullanıcı :</b></span></div></label>
                        <input type="text" class="form-control col-9" ng-model="Kullanici">
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Şifre :</b></span></div></label>
                        <input type="text" class="form-control col-9" ng-model="Sifre">
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Yetki :</b></span></div></label>
                        <select class="form-control col-9 ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Yetki">
                            <option value="0" selected="selected">Kullanıcı</option>
                            <!-- <option value="1">Admin</option> -->
                        </select>
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Aktif / Pasif :</b></span></div></label>
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" ng-model="AktifPasif">
                            <label for="inputUnchecked"></label>
                        </div>
                    </div>
                    <div class="row my-5">
                        <button type="submit" class="btn btn-primary form-control btn-block col-12" style="height:40px; font-size: 16px;" ng-click="BtnKullaniciInsert(1)">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- KULLANICI GÜNCELLE -->
    <div class="modal fade" id="MdlKullaniciGuncelle" aria-labelledby="exampleOptionalSmall" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-simple modal-primary modal-center px-10">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title">Kullanıcı Güncelle</h4>
                </div>
                <div class="modal-body py-10">
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Kodu :</b></span></div></label>
                        <input type="text" class="form-control col-9" ng-model="Kodu">
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Kullanıcı :</b></span></div></label>
                        <input type="text" class="form-control col-9" ng-model="Kullanici">
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Şifre :</b></span></div></label>
                        <input type="text" class="form-control col-9" ng-model="Sifre">
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Yetki :</b></span></div></label>
                        <select class="form-control col-9 ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Yetki">
                            <option value="0" selected="selected">Kullanıcı</option>
                            <!-- <option value="1">Admin</option> -->
                        </select>
                    </div>
                    <div class="form-group row my-10">
                        <label class="form-control-label col-3 pr-20"><div class="float-right"><span style="color:dodgerblue;"><b>Aktif / Pasif :</b></span></div></label>
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" ng-model="AktifPasif">
                            <label for="inputUnchecked"></label>
                        </div>
                    </div>
                    <div class="row my-5">
                        <button type="submit" class="btn btn-primary form-control btn-block col-12" style="height:40px; font-size: 16px;" ng-click="BtnKullaniciGuncelle(1,'')">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
